<!DOCTYPE html>
<html>
    <head>
        <title>Read PGN</title>
        <meta charset="UTF=8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1>PGN Page</h1>
        <p>
            Please paste the path of the pgn file:
        </p>
        <form action="/read" method="post">
            <label for="filePath">File Path:</label><br>
            <input type="text" id="filePath" name="filePath"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>